<div style="height: 60px">
  <h2 class="sub-header pull-left" style="margin-top: 0">household etc. currencies</h2>
  <button type="button" class="btn btn-success pull-right">Add new currency</button>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Action</th>
        <th>Code</th>
        <th>Symbol</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <button disabled type="button"
            class="btn btn-primary btn-danger btn-xs">
            <i class="fa fa-trash-o fa-fw"></i> Delete
          </button>
        </td>
        <td><input type="text" class="form-control input-sm table-input"
          value="EUR"></td>
        <td><input type="text"
          class="form-control input-sm table-input"
          style="width:70px;"
          value="€"></td>
        <td><input type="text" class="form-control input-sm table-input"
          value="1.00000000"></td>
      </tr>
    </tbody>
  </table>
</div>
