<div class="container" ng-controller="Ledgers">
  <script type="text/ng-template" id="ledgers_add.html">
    <div class="modal-header">
      <h3>Add new ledger</h3>
    </div>
    <div class="modal-body">
      <div class="input-group">
        <label for="ledgerTitle">Title</label>
          <input type="text" class="form-control" id="ledgerTitle"
            placeholder="Enter title" ng-model="ledger.title">
      </div>
      <div class="input-group">
        <label for="ledgerCurrencyCode">Currency code</label>
          <input type="text" class="form-control" id="ledgerCurrencyCode"
            placeholder="Enter currency code"
            ng-model="ledger.total_currency.code">
      </div>
      <div class="input-group">
        <label for="ledgerCurrencyRate">Currency rate</label>
          <input type="text" class="form-control" id="ledgerCurrencyRate"
            placeholder="Enter currency rate"
            ng-model="ledger.total_currency.rate">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>
  <div class="divvd-header">
    <h2 class="sub-header pull-left">
      {{user.username}}'s ledgers
    </h2>
    <button type="button" class="btn btn-success pull-right" ng-click="add()">
      Add new ledger
    </button>
  </div>
  <div class="table-responsive divvd-table" ng-show="ledgers">
    <table class="table table-striped" style="padding-bottom: 50px">
      <thead>
        <tr>
          <th style="12%">Action</th>
          <th style="22%">Title</th>
          <th style="22%">Your balance</th>
          <th style="22%">Total value</th>
          <th style="22%">Balanced</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ledger in ledgers">
          <td>
            <button type="button" class="btn btn-primary btn-danger btn-xs"
              ng-click="delete(ledger)">
              <i class="fa fa-trash-o fa-fw"></i> Delete
            </button>
          </td>
          <td>
            <a ui-sref="member.ledger({ ledger_id: ledger.ledger_id })"
              ng-bind="ledger.title"></a>
          </td>
          <td>
            <div class="dropdown">
              {{ledger.user_balance}}
              <a href class="dropdown-toggle">
                {{ledger.user_balance_currency.code}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="currency in ledger.currencies">
                  <a ng-bind="currency.code"
                    ng-click="setBalanceCurrency(ledger, currency)">
                  </a>
                </li>
              </ul>
            </div>
          </td>
          <td>
            <div class="dropdown">
              {{ledger.total_value}}
              <a href class="dropdown-toggle">
                {{ledger.total_value_currency.code}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="currency in ledger.currencies">
                  <a ng-bind="currency.code"
                    ng-click="setTotalCurrency(ledger, currency)">
                  </a>
                </li>
              </ul>
            </div>
          </td>
          <td ng-class="balancedClass(ledger.balanced)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
