<div class="container" ng-controller="Ledger">
  <div style="height: 60px">
    <h2 class="sub-header pull-left" style="margin-top: 0">{{ledger.title}}</h2>
    <button type="button" class="btn btn-success pull-right">
      Add new transaction
    </button>
  </div>
  <div class="table-responsive divvd-table" ng-show="ledger.transactions">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Action</th>
          <th>Description</th>
          <th>Your balance</th>
          <th>Total value</th>
          <th>Your input</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="transaction in ledger.transactions">
          <td>
            <button type="button" class="btn btn-primary btn-danger btn-xs"
							ng-click="delete(transaction)">
              <i class="fa fa-trash-o fa-fw"></i> Delete
            </button>
          </td>
          <td>
            <a href="member.ledger.transaction({ ledger_id: ledger.ledger_id, transaction.transaction_id })"
              ng-bind="transaction.description">
            </a>
          </td>
          <td class="dropdown">
            {{transaction.user_balance}}
            <a href class="dropdown-toggle">
              {{transaction.user_balance_currency.code}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="currency in ledger.currencies">
                <a ng-bind="currency.code"
									ng-click="setBalanceCurrency(transaction, currency)">
								</a>
              </li>
            </ul>
          </td>
          <td class="dropdown">
						{{transaction.total_value}}
            <a href class="dropdown-toggle">
							{{transaction.total_value_currency.code}}
							<span class="caret"></span>
						</a>
            <ul class="dropdown-menu">
              <li ng-repeat="currency in ledger.currencies">
								<a ng-bind="currency.code"
									ng-click="setTotalCurrency(transaction, currency)">
								</a>
							</li>
            </ul>
          </td>
          <td class="dropdown">
						{{transaction.user_credit}}
            <a href class="dropdown-toggle">
							{{transaction.user_credit_currency.code}}
							<span class="caret"></span>
						</a>
            <ul class="dropdown-menu">
              <li ng-repeat="currency in ledger.currencies">
								<a ng-bind="currency.code"
									ng-click="setCreditCurrency(transaction, currency)">
								</a>
							</li>
            </ul>
          </td>
        </tr>

        <tr class="tr-total" ng-show="ledger.summary" ng-cloak>
          <td></td>
          <td></td>
          <td class="dropdown">
						{{ledger.summary.user_balance}}
            <a href class="dropdown-toggle">
							{{ledger.summary.user_balance_currency.code}}
							<span class="caret"></span>
						</a>
            <ul class="dropdown-menu">
              <li ng-repeat="currency in ledger.currencies">
								<a ng-bind="currency.code"
									ng-click="setSumBalanceCurrency(currency)">
								</a>
							</li>
            </ul>
          </td>
          <td class="dropdown">
						{{ledger.summary.total_value}}
            <a href class="dropdown-toggle">
							{{ledger.summary.total_value_currency.code}}
							<span class="caret"></span>
						</a>
            <ul class="dropdown-menu">
              <li ng-repeat="currency in ledger.currencies">
								<a ng-bind="currency.code"
									ng-click="setSumTotalCurrency(currency)">
								</a>
							</li>
            </ul>
          </td>
          <td class="dropdown">
						{{ledger.summary.user_credit}}
            <a href class="dropdown-toggle">
							{{ledger.summary.user_credit_currency.code}}
							<span class="caret"></span>
						</a>
            <ul class="dropdown-menu">
              <li ng-repeat="currency in ledger.currencies">
								<a ng-bind="currency.code"
									ng-click="setSumCreditCurrency(currency)">
								</a>
							</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
