<div class="container" ng-controller="Ledgers">
  <div style="height: 60px">
    <h2 class="sub-header pull-left" style="margin-top: 0">
      {{user.username}}'s ledgers
    </h2>
    <button type="button" class="btn btn-success pull-right" ng-click="add()">
      Add new ledger
    </button>
  </div>
  <div class="table-responsive divvd-table" ng-show="ledgers">
    <table class="table table-striped" style="padding-bottom: 50px">
      <thead>
        <tr>
          <th>Action</th>
          <th>Title</th>
          <th>Your balance</th>
          <th>Total value</th>
          <th>Balanced</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ledger in ledgers">
          <td>
            <button type="button" class="btn btn-primary btn-danger btn-xs"
              ng-click="delete(ledger)">
              <i class="fa fa-trash-o fa-fw"></i> Delete
            </button>
          </td>
          <td>
            <a ui-sref="member.ledger({ ledger_id: ledger.ledger_id })"
              ng-bind="ledger.title"></a>
          </td>
          <td class="dropdown">{{ledger.user_balance}}
            <a href class="dropdown-toggle">
              {{ledger.user_balance_currency.code}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="currency in ledger.currencies">
                <a ng-bind="currency.code"
                  ng-click="setBalanceCurrency(ledger, currency)">
                </a>
              </li>
            </ul>
          </td>
          <td class="dropdown">{{ledger.total_value}}
            <a href class="dropdown-toggle">
              {{ledger.total_value_currency.code}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="currency in ledger.currencies">
                <a ng-bind="currency.code"
                  ng-click="setTotalCurrency(ledger, currency)">
                </a>
              </li>
            </ul>
          </td>
          <td ng-class="balancedClass(ledger.balanced)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
