<form role="form" ng-controller="loginForm" ng-submit="login()">
  <alert type="'danger'" close="showAlert = false" ng-show="showAlert">
    Username and password do not match!
  </alert>
  <h2 class="form-signin-heading">Log in to Divvd</h2>
  <input type="text" class="form-control" placeholder="Username"
    ng-model="formuser.username" required autofocus>
  <input type="password" class="form-control" placeholder="Password"
    ng-model="formuser.password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Log in
  </button>
</form>
