<div class="container">
  <!-- guest -->
  <div class="form-signin"
      ng-show="r.route === '/login' || (r.route === '/' && u.user.role === 'guest')">
    <ng-include src="'/partials/login-form.html'" onload="formLoaded = true"></ng-include>
    <div ng-show="formLoaded && r.route === '/' && u.user.role === 'guest'">
      <h2 class="form-signin-heading">New to Divvd?</h2>
      <a class="btn btn-lg btn-primary btn-block btn-warning" href="/signup">Sign up</a>
    </div>
  </div>
  <!-- signup -->
  <div ng-show="r.route === '/signup'">
    <ng-include src="'/partials/signup.html'"></ng-include>
  </div>
  <!-- ledgers -->
  <div ng-show="u.user.role !== 'guest' && (r.route === '/' || r.route === '/ledgers')">
    <ng-include src="'/partials/ledgers.html'"
      ng-controller="ledgers"></ng-include>
  </div>
  <!-- ledger -->
  <div ng-show="u.user.role !== 'guest' && r.route === '/ledgers/:ledgerId'">
    <ng-include src="'/partials/ledger.html'"></ng-include>
  </div>
  <!-- summary -->
  <div ng-show="u.user !== 'guest' && r.route === '/ledgers/:ledgerId/summary'">
    <ng-include src="'/partials/summary.html'"></ng-include>
  </div>
  <!-- currencies -->
  <div ng-show="u.user !== 'guest' && r.route === '/ledgers/:ledgerId/currencies'">
    <ng-include src="'/partials/currencies.html'"></ng-include>
  </div>
  <!-- transaction -->
  <div ng-show="u.user !== 'guest' && r.route === '/ledgers/:ledgerId/transactions/:transactionId'">
    <ng-include src="'/partials/transaction.html'"
      ng-controller="transaction"></ng-include>
  </div>
</div>
