<div class="container" ng-controller="Transaction">
  <div class="divvd-header">
    <h2 class="sub-header pull-left"
      editable-text="transaction.description" onbeforesave="setDesc($data)">
      {{transaction.description}}
    </h2>
      <h3 class="dropdown sub-header pull-right">
        {{transaction.total_credit}}
        <a href class="dropdown-toggle">
          {{transaction.currency.code}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="currency in ledger.currencies">
            <a ng-bind="currency.code"
              ng-click="setTotalCurrency(transaction, currency)">
            </a>
          </li>
        </ul>
      </h3>
  </div>

  <form role="form">
    <div class="form-group">
      <label for="date">Date</label>
      <div class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}"
          ng-model="transaction.date" is-open="opened"
          datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
          ng-required="true" close-text="Close" id="date">
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </div>
    </div>
    <!--
    <div class="form-group">
      <label for="time">Time</label>
      <div class="input-group">
        <div ng-model="mytime" ng-change="changed()"
            style="display:inline-block;" id="time">
          <timepicker hour-step="hstep" minute-step="mstep"
              show-meridian="ismeridian"></timepicker>
        </div>
      </div>
    </div>
    -->
    <!--
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location"
          placeholder="Enter location">
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" id="type"
          placeholder="Enter transaction type">
    </div>
    -->
    <div class="form-group">
      <label for="transfer">
        <input type="checkbox" id="transfer" ng-model="transaction.transfer">
        Money transfer
      </label>
    </div>
  </form>

  <div class="divvd-header" style="margin-top:30px">
    <h2 class="sub-header pull-left">
			Payments/debts
		</h2>
    <div class="dropdown pull-right">
      <button type="button"
        class="btn btn-success dropdown-toggle">
        Add payment/debt
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="person in ledger.persons">
          <a ng-click="addAmount(person)">{{person.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="table-responsive" style="padding-bottom:20px">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:30%">Action</th>
          <th style="width:35%">Person</th>
          <th style="width:35%">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="amount in transaction.amounts">
          <td>
            <button type="button" class="btn btn-primary btn-danger btn-xs"
							ng-click="deleteAmount(amount)">
              <i class="fa fa-trash-o fa-fw"></i> Delete
            </button>
          </td>
          <td>
            {{amount.person.name}}
          </td>
          <td>
            <div class="dropdown">
              <span e-class="input-sm table-input" editable-text="amount.amount"
                ng-bind="amount.amount"
                onbeforesave="setAmount(amount, $data)" buttons="no"></span>
              <a href class="dropdown-toggle">
                {{amount.currency.code}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-table">
                <li ng-repeat="currency in ledger.currencies">
                  <a ng-bind="currency.code"
                    ng-click="setAmountCurrency(amount, currency)">
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="divvd-header" style="margin-top:10px" ng-show="transaction">
    <h2 class="sub-header pull-left">
			Shared debt
		</h2>
    <div class="dropdown pull-right">
      <button type="button" ng-disabled="addParticipantDisabled"
        class="btn btn-success dropdown-toggle">
        Add participant
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="person in nonParticipants()">
          <a ng-click="addParticipant(person)">{{person.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="table-responsive divvd-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:30%">Action</th>
          <th style="width:35%">Person</th>
          <th style="width:35%">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="participant in transaction.participants">
          <td>
            <button type="button" class="btn btn-primary btn-danger btn-xs"
							ng-click="deleteParticipant(participant)"
              ng-disabled="singleParticipant()">
              <i class="fa fa-trash-o fa-fw"></i> Remove
            </button>
          </td>
          <td>
            {{participant.person.name}}
          </td>
          <td>
            <div class="dropdown">
              {{participant.shared_debt}}
              <a href class="dropdown-toggle">
                {{participant.currency.code}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="currency in ledger.currencies">
                  <a ng-bind="currency.code"
                    ng-click="setParticipantCurrency(participant, currency)">
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
