/* fix for angular bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* app css stylesheet */

body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #eee;
}

.divvd-table {
  padding-bottom: 200px;
}

.td-yes:before {
  content: 'Yes';
}
.td-no:before {
  content: 'No';
}

.divvd-header {
  height: 60px;
  margin-top:10px;
}

.divvd-header h2 {
  margin-top: 0px;
}

.summary-totals {
  font-size: 20px;
  font-weight: bold;
}

.input-sm.table-input {
  margin: -5px;
  height: 24px;
  font-size: 14px;
  padding-top: 1px;
}

.tr-total {
  font-weight: bold;
  border-top-style: double;
}

.form-signin {
  margin-top: 15px;
  max-width: 330px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
